{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Accueil - Deliverr {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
<img id="logofond" src="{{ asset('assets/images/background.jpg') }}" class="img-responsive">
<figure>
    <img id="logopara" src="{{ asset('assets/images/r-logo2.png') }}"  alt="logo Deliverr" width="35%" class="animated rollIn img-responsive">
</figure>
<div class="scroll">
    <div class="icon-scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
        <div>
            <span class="a1"></span>
            <span class="a2"></span>
            <span class="a3"></span>
        </div>
    </div>
</div>
<div class="hik"></div>
<div class="formu">

    <div class="container" id="cate">
        <h1 id="makeawish">Make a wish and you are served !</h1>
        <div class="row">
            
            <a href="{{ url('deliverr_categorie', {libellecategorie:'voyage' | lower}) }}"><div class="col-xs-3 col-md-3 col-md-offset-1 col1 Voyage" id="cat" ><p class="liencat">Voyage</p></div></a>
            <a href="{{ url('deliverr_categorie', {libellecategorie:'peinture' | lower}) }}"><div class="col-xs-3 col-md-3 col-md-offset-1 col2 Peinture" id="cat" ><p class="liencat">Peinture</p></div></a>
            <a href="{{ url('deliverr_categorie', {libellecategorie:'musique' | lower}) }}"><div class="col-xs-3 col-md-3 col-md-offset-1 col3 Musique" id="cat" ><p class="liencat">Musique</p></div></a>
        </div>
        <div class="row">
            <a href="{{ url('deliverr_categorie', {libellecategorie:'beaute' | lower}) }}"><div class="col-xs-3 col-md-3 col-md-offset-1 col1 Beaute" id="cat" ><p class="liencat">Beauté</p></div></a>
            <a href="{{ url('deliverr_categorie', {libellecategorie:'media' | lower}) }}"><div class="col-xs-3 col-md-3 col-md-offset-1 col2 Photovideo" id="cat" ><p class="liencat">Media</p></div></a>
            <a href="{{ url('deliverr_categorie', {libellecategorie:'informatique' | lower}) }}"><div class="col-xs-3 col-md-3 col-md-offset-1 col3 Informatique" id="cat" ><p class="liencat">Informatique</p></div></a>
        </div>
        <div class="row">
            <a href="{{ url('deliverr_categorie', {libellecategorie:'sport' | lower}) }}"><div class="col-xs-3 col-md-3 col-md-offset-1 col1 Sport" id="cat" ><p class="liencat">Sport</p></div></a>
            <a href="{{ url('deliverr_categorie', {libellecategorie:'cuisine' | lower}) }}"><div class="col-xs-3 col-md-3 col-md-offset-1 col2 Cuisine" id="cat" ><p class="liencat">Cuisine</p></div></a>
            <a href="{{ url('deliverr_categorie', {libellecategorie:'divertissement' | lower}) }}"><div class="col-xs-3 col-md-3 col-md-offset-1 col3 Divertissement" id="cat" ><p class="liencat">Divertissement</p></div></a>
        </div>
        


    </div> <!-- container -->
    <footer class="footer">
        <div class="container">
            <!--All right-->
            <div class="allright">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <p> © 2017 <a href="{{ url('deliverr_mentions') }}">DELIVERR</a>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}