{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} {{ souscategorie }} {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}



<div class="accroche">
    <h2 >Make a wish and you are served !</h2>
</div>

<div style="margin-top: 80px; padding-bottom:120px;">
    <div class="col-xs-10 col-sm-5" style="margin-left:4vw">


        <div class="thumbnail animated fadeIn">
            <img src="{{ asset('assets/images/'~descriptionsouscategorie.MEDIASOUSCATEGORIE) }}" style="width:100%;" alt="...">
            <div class="caption">
                <h3>{{ souscategorie }}</h3>
                <p>{{ descriptionsouscategorie.DESCRIPTIONSOUSCATEGORIE | raw | convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
            </div>
        </div>


    </div>




    <!-- Add the extra clearfix for only the required viewport -->

    <div class="scrol">
        {% for service in services %}
        <div class="col-xs-6 col-sm-3 animated bounceInLeft ">

            <div class="thumbnail">
                <div class="caption">
                    <a href="{{ url('deliverr_service', {libellesouscategorie: service.LIBELLESOUSCATEGORIE | lower,idservice: service.IDSERVICE | lower}) }}"><img src="{{ asset('assets/images/'~service.MEDIAPRESENTATION) }}"><h3>{{ service.LIBELLESERVICE | raw | convert_encoding('UTF-8', 'ISO-8859-1') }}</h3></a>
                    <p>{{ service.ACCROCHE | raw | convert_encoding('UTF-8', 'ISO-8859-1') }} <a href="prestations.html">Voir la suite</a></p>
                    <br>
                    <p style="text-align:right;">À partir de 10€</p>
                </div>
            </div>

        </div>
        {% endfor %}



    </div>










    <footer class="footerservice">
        <div class="container">
            <!--All right-->
            <div class="allright">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <p> © 2017 <a href="#">TECH NEWS</a>. All rights reserved.</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>




    {% endblock %}