<header> 
    <div class="container" id="conteneur-header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="{{ asset('assets/images/deliverrB.png') }}" class="img-responsive" width="220px" id="logoentier"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle categories" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menubtn">Catégories <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="drop">
                                {% for categorie in categories %}
                                <li><a href="#">{{categorie.LIBELLECATEGORIE}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        <li><a href="{{ url('technews_deconnexion') }}" id="menubtn">Déconnexion</a></li>
                        <li><a href="{{ url('technews_propositionservice') }}" id="menubtn">Proposer un service</a></li>
                        {% else %}
                        <li><a href="{{ url('technews_connexion') }}" id="menubtn">Connexion</a></li>
                        <li><a href="#" id="menubtn">Inscription</a></li>
                        {% endif %}
                        <li><a href="#" id="menubtn">FAQ</a></li>
                        <li><a href="#" id="menubtn">Contact</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div> <!-- conteneur-header -->

</header>